@import 'tailwindcss';

body {
  font-family: var(--font-orbitron), sans-serif;
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

.slide-down {
  animation: slide-down 0.5s ease-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
